<a href="https://colab.research.google.com/github/Marcelo-Maia-Dev/ML-Calc-Imovel/blob/main/preco_imoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Preço de Imóveis em São Paulo**

Irei treinar um modelo para fazer a previsão do preço de venda de apartamentos na cidade de São Paulo e usar esse modelo para alimentar uma aplicação web mediante deploy.

Como identifiquei as colunas desnecessárias e redundantes, irei direto ao ponto do treinamento, visando mostrar principalmente como exportar e importar o modelo com a biblioteca `joblib`.

## Dados de Imóveis

Os dados usados aqui foram obtidos no [Kaggle](https://www.kaggle.com/datasets/argonalyst/sao-paulo-real-estate-sale-rent-april-2019/download?datasetVersionNumber=1), e foram disponibilizados publicamente pela startup OpenImob.

## Análise e Tratamento dos Dados

Os dados originais contém 13.640 entradas e 16 colunas, sendo a coluna `Price` a nossa variável alvo.

In [1]:
# importar os pacotes necessários
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# importar o dataset para um dataframe
url_dataset = "https://www.dropbox.com/s/h8blgaphkfpqsn5/sao-paulo-properties-april-2019.csv?dl=1"
df = pd.read_csv(url_dataset)

# ver as 5 primeiras entradas
display(df.head())

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436

In [2]:
df_clean = df.copy()

# Limpar os nomes do bairros
df_clean['District'] = df_clean['District'].apply(lambda x: x.split('/')[0])

# ver as 5 primeiras entradas
df_clean.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim,rent,apartment,-23.525025,-46.482436

## Modelo de Machine Learning

Escolhi o modelo Random Forest para treinar meu modelo e observei três principais métricas de avaliação.

In [3]:
# dummy variables
df_clean = pd.get_dummies(df_clean)

# separar entre variáveis X e y
X_simp = df_clean.drop('Price', axis=1)
y_simp = df_clean['Price']

# split entre datasets de treino e teste
X_train_simp, X_test_simp, y_train_simp, y_test_simp = train_test_split(X_simp, y_simp, test_size=0.33)

# instanciar e treinar o modelo
model = RandomForestRegressor(random_state=42)
model.fit(X_train_simp, y_train_simp)

# fazer as previsões em cima do dataset de teste
y_pred_simp = model.predict(X_test_simp)

# métricas de avaliação
print("r2: \t{:.4f}".format(r2_score(y_test_simp, y_pred_simp)))
print("MAE: \t{:.4f}".format(mean_absolute_error(y_test_simp, y_pred_simp)))
print("MSE: \t{:.4f}".format(mean_squared_error(y_test_simp, y_pred_simp)))

r2: 	0.9103
MAE: 	50992.5564
MSE: 	29648792762.9029

#### Salvando o modelo

O nosso modelo está treinado e é capaz de realizar previsões. No entanto, está "preso" ao *kernel* rodando dentro do Google Colab.

Imagine precisar rodar todas as células novamente a cada vez que fosse fazer uma previsão. Seria inviável!

Para conseguir exportar o modelo de *machine learning* (na verdade, isso pode ser feito com qualquer estrutura de dados) vou usar a biblioteca `joblib`.

In [4]:
# salvar o modelo em formato joblib
from joblib import dump, load

dump(model, 'model.joblib')

['model.joblib']

Uma vez que você exporta o seu modelo, é extremamente importante que você também salve os nomes das *features* que esse modelo espera receber, e tem que ser na ordem exata que ele foi treinado.

Da mesma maneira que fizemos com o modelo, salvei os nomes das variáveis em `features_simples.names`.

In [5]:
# salvar os nomes das features do modelo simples
features = X_train_simp.columns.values

dump(features, 'features.names')

['features.names']

#### Carregando o modelo

Uma vez que você salvou o modelo em um arquivo, consegue carregar ele novamente usando o `pickle.load()`

In [6]:
# importar modelo e feature names
new_model = load('model.joblib') 
features = load('features.names')

In [7]:
# ver o tipo da nova variável
type(new_model)

sklearn.ensemble._forest.RandomForestRegressor

In [8]:
import sklearn
sklearn.__version__

'1.2.2'

In [9]:
X_simp

,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,...,District_Vila Maria,District_Vila Mariana,District_Vila Matilde,District_Vila Olimpia,District_Vila Prudente,District_Vila Sônia,District_Água Rasa,Negotiation Type_rent,Negotiation Type_sale,Property Type_apartment
0,220,47,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,148,45,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,100,48,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,200,48,2,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,410,55,2,2,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13635,420,51,2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
13636,630,74,3,2,1,2,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
13637,1100,114,3,3,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
13638,48,39,1,2,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,1
13639,0,44,2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [10]:
import numpy as np
import json

dict(zip(X_simp.columns.values, np.zeros(X_simp.shape[0]).astype(int)))

{'Condo': 0,
 'Size': 0,
 'Rooms': 0,
 'Toilets': 0,
 'Suites': 0,
 'Parking': 0,
 'Elevator': 0,
 'Furnished': 0,
 'Swimming Pool': 0,
 'New': 0,
 'Latitude': 0,
 'Longitude': 0,
 'District_Alto de Pinheiros': 0,
 'District_Anhanguera': 0,
 'District_Aricanduva': 0,
 'District_Artur Alvim': 0,
 'District_Barra Funda': 0,
 'District_Bela Vista': 0,
 'District_Belém': 0,
 'District_Bom Retiro': 0,
 'District_Brasilândia': 0,
 'District_Brooklin': 0,
 'District_Brás': 0,
 'District_Butantã': 0,
 'District_Cachoeirinha': 0,
 'District_Cambuci': 0,
 'District_Campo Belo': 0,
 'District_Campo Grande': 0,
 'District_Campo Limpo': 0,
 'District_Cangaíba': 0,
 'District_Capão Redondo': 0,
 'District_Carrão': 0,
 'District_Casa Verde': 0,
 'District_Cidade Ademar': 0,
 'District_Cidade Dutra': 0,
 'District_Cidade Líder': 0,
 'District_Cidade Tiradentes': 0,
 'District_Consolação': 0,
 'District_Cursino': 0,
 'District_Ermelino Matarazzo': 0,
 'District_Freguesia do Ó': 0,
 'District_Grajaú': 0,
 'District_Guaianazes': 0,
 'District_Iguatemi': 0,
 'District_Ipiranga': 0,
 'District_Itaim Bibi': 0,
 'District_Itaim Paulista': 0,
 'District_Itaquera': 0,
 'District_Jabaquara': 0,
 'District_Jaguaré': 0,
 'District_Jaraguá': 0,
 'District_Jardim Helena': 0,
 'District_Jardim Paulista': 0,
 'District_Jardim São Luis': 0,
 'District_Jardim Ângela': 0,
 'District_Jaçanã': 0,
 'District_José Bonifácio': 0,
 'District_Lajeado': 0,
 'District_Lapa': 0,
 'District_Liberdade': 0,
 'District_Limão': 0,
 'District_Mandaqui': 0,
 'District_Medeiros': 0,
 'District_Moema': 0,
 'District_Mooca': 0,
 'District_Morumbi': 0,
 'District_Pari': 0,
 'District_Parque do Carmo': 0,
 'District_Pedreira': 0,
 'District_Penha': 0,
 'District_Perdizes': 0,
 'District_Perus': 0,
 'District_Pinheiros': 0,
 'District_Pirituba': 0,
 'District_Ponte Rasa': 0,
 'District_Raposo Tavares': 0,
 'District_República': 0,
 'District_Rio Pequeno': 0,
 'District_Sacomã': 0,
 'District_Santa Cecília': 0,
 'District_Santana': 0,
 'District_Santo Amaro': 0,
 'District_Sapopemba': 0,
 'District_Saúde': 0,
 'District_Socorro': 0,
 'District_São Domingos': 0,
 'District_São Lucas': 0,
 'District_São Mateus': 0,
 'District_São Miguel': 0,
 'District_São Rafael': 0,
 'District_Sé': 0,
 'District_Tatuapé': 0,
 'District_Tremembé': 0,
 'District_Tucuruvi': 0,
 'District_Vila Andrade': 0,
 'District_Vila Curuçá': 0,
 'District_Vila Formosa': 0,
 'District_Vila Guilherme': 0,
 'District_Vila Jacuí': 0,
 'District_Vila Leopoldina': 0,
 'District_Vila Madalena': 0,
 'District_Vila Maria': 0,
 'District_Vila Mariana': 0,
 'District_Vila Matilde': 0,
 'District_Vila Olimpia': 0,
 'District_Vila Prudente': 0,
 'District_Vila Sônia': 0,
 'District_Água Rasa': 0,
 'Negotiation Type_rent': 0,
 'Negotiation Type_sale': 0,
 'Property Type_apartment': 0}

In [11]:
# Serializing json    
json_object = json.dumps(dict(zip(X_simp.columns.values, np.zeros(X_simp.shape[0]).astype(int).tolist())), indent = 4)   
print(json_object)

{
    "Condo": 0,
    "Size": 0,
    "Rooms": 0,
    "Toilets": 0,
    "Suites": 0,
    "Parking": 0,
    "Elevator": 0,
    "Furnished": 0,
    "Swimming Pool": 0,
    "New": 0,
    "Latitude": 0,
    "Longitude": 0,
    "District_Alto de Pinheiros": 0,
    "District_Anhanguera": 0,
    "District_Aricanduva": 0,
    "District_Artur Alvim": 0,
    "District_Barra Funda": 0,
    "District_Bela Vista": 0,
    "District_Bel\u00e9m": 0,
    "District_Bom Retiro": 0,
    "District_Brasil\u00e2ndia": 0,
    "District_Brooklin": 0,
    "District_Br\u00e1s": 0,
    "District_Butant\u00e3": 0,
    "District_Cachoeirinha": 0,
    "District_Cambuci": 0,
    "District_Campo Belo": 0,
    "District_Campo Grande": 0,
    "District_Campo Limpo": 0,
    "District_Canga\u00edba": 0,
    "District_Cap\u00e3o Redondo": 0,
    "District_Carr\u00e3o": 0,
    "District_Casa Verde": 0,
    "District_Cidade Ademar": 0,
    "District_Cidade Dutra": 0,
    "District_Cidade L\u00edder": 0,
    "District_Cidade Tiradentes": 0,
    "District_Consola\u00e7\u00e3o": 0,
    "District_Cursino": 0,
    "District_Ermelino Matarazzo": 0,
    "District_Freguesia do \u00d3": 0,
    "District_Graja\u00fa": 0,
    "District_Guaianazes": 0,
    "District_Iguatemi": 0,
    "District_Ipiranga": 0,
    "District_Itaim Bibi": 0,
    "District_Itaim Paulista": 0,
    "District_Itaquera": 0,
    "District_Jabaquara": 0,
    "District_Jaguar\u00e9": 0,
    "District_Jaragu\u00e1": 0,
    "District_Jardim Helena": 0,
    "District_Jardim Paulista": 0,
    "District_Jardim S\u00e3o Luis": 0,
    "District_Jardim \u00c2ngela": 0,
    "District_Ja\u00e7an\u00e3": 0,
    "District_Jos\u00e9 Bonif\u00e1cio": 0,
    "District_Lajeado": 0,
    "District_Lapa": 0,
    "District_Liberdade": 0,
    "District_Lim\u00e3o": 0,
    "District_Mandaqui": 0,
    "District_Medeiros": 0,
    "District_Moema": 0,
    "District_Mooca": 0,
    "District_Morumbi": 0,
    "District_Pari": 0,
    "District_Parque do Carmo": 0,
    "District_Pedreira": 0,
    "District_Penha": 0,
    "District_Perdizes": 0,
    "District_Perus": 0,
    "District_Pinheiros": 0,
    "District_Pirituba": 0,
    "District_Ponte Rasa": 0,
    "District_Raposo Tavares": 0,
    "District_Rep\u00fablica": 0,
    "District_Rio Pequeno": 0,
    "District_Sacom\u00e3": 0,
    "District_Santa Cec\u00edlia": 0,
    "District_Santana": 0,
    "District_Santo Amaro": 0,
    "District_Sapopemba": 0,
    "District_Sa\u00fade": 0,
    "District_Socorro": 0,
    "District_S\u00e3o Domingos": 0,
    "District_S\u00e3o Lucas": 0,
    "District_S\u00e3o Mateus": 0,
    "District_S\u00e3o Miguel": 0,
    "District_S\u00e3o Rafael": 0,
    "District_S\u00e9": 0,
    "District_Tatuap\u00e9": 0,
    "District_Trememb\u00e9": 0,
    "District_Tucuruvi": 0,
    "District_Vila Andrade": 0,
    "District_Vila Curu\u00e7\u00e1": 0,
    "District_Vila Formosa": 0,
    "District_Vila Guilherme": 0,
    "District_Vila Jacu\u00ed": 0,
    "District_Vila Leopoldina": 0,
    "District_Vila Madalena": 0,
    "District_Vila Maria": 0,
    "District_Vila Mariana": 0,
    "District_Vila Matilde": 0,
    "District_Vila Olimpia": 0,
    "District_Vila Prudente": 0,
    "District_Vila S\u00f4nia": 0,
    "District_\u00c1gua Rasa": 0,
    "Negotiation Type_rent": 0,
    "Negotiation Type_sale": 0,
    "Property Type_apartment": 0
}

**Salvar os nomes dos bairros em um arquivo txt**

In [12]:
# Locale Settings
!sudo locale-gen "pt_BR.UTF-8"
!sudo dpkg-reconfigure locales
!export LC_ALL="pt_BR.UTF-8"
!export LC_CTYPE="pt_BR.UTF-8"
!sudo dpkg-reconfigure locales

import locale
locale.setlocale(locale.LC_ALL, '')

Generating locales (this might take a while)...
  pt_BR.UTF-8... done
Generation complete.
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
Configuring locales
-------------------

Locales are a framework to switch between multiple languages and allow users to
use their language, country, characters, collation order, etc.

Please choose which locales to generate. UTF-8 locales should be chosen by
default, particularly for new installations. Other character sets may be useful
for backwards compatibility with older systems and software.

  1. All locales                      252. gl_ES.UTF-8 UTF-8
  2. aa_DJ ISO-8859-1                 253. gl_ES@euro ISO-8859-15
  3. aa_DJ.UTF-8 UTF-8                254. gu_IN UTF-8
  4. aa_ER UTF-8                      255. gv_GB ISO-8859-1
  5. aa_ER@saaho UTF-8                256. gv_GB.UTF-8 UTF-8
  6. aa_ET UTF-8                      257. ha_NG UTF-8
  7. af_ZA ISO-8859-1                 258. hak_TW UTF-8
  8. af_ZA.UTF-8 UTF-8                259. he_IL ISO-8859-8
  9. agr_PE UTF-8                     260. he_IL.UTF-8 UTF-8
  10. ak_GH UTF-8                     261. hi_IN UTF-8
  11. am_ET UTF-8                     262. hif_FJ UTF-8
  12. an_ES ISO-8859-15               263. hne_IN UTF-8
  13. an_ES.UTF-8 UTF-8               264. hr_HR ISO-8859-2
  14. anp_IN UTF-8                    265. hr_HR.UTF-8 UTF-8
  15. ar_AE ISO-8859-6                266. hsb_DE ISO-8859-2
  16. ar_AE.UTF-8 UTF-8               267. hsb_DE.UTF-8 UTF-8
  17. ar_BH ISO-8859-6                268. ht_HT UTF-8
  18. ar_BH.UTF-8 UTF-8               269. hu_HU ISO-8859-2
  19. ar_DZ ISO-8859-6                270. hu_HU.UTF-8 UTF-8
  20. ar_DZ.UTF-8 UTF-8               271. hy_AM UTF-8
  21. ar_EG ISO-8859-6                272. hy_AM.ARMSCII-8 ARMSCII-8
  22. ar_EG.UTF-8 UTF-8               273. ia_FR UTF-8
  23. ar_IN UTF-8                     274. id_ID ISO-8859-1
  24. ar_IQ ISO-8859-6                275. id_ID.UTF-8 UTF-8
  25. ar_IQ.UTF-8 UTF-8               276. ig_NG UTF-8
  26. ar_JO ISO-8859-6                277. ik_CA UTF-8
  27. ar_JO.UTF-8 UTF-8               278. is_IS ISO-8859-1
  28. ar_KW ISO-8859-6                279. is_IS.UTF-8 UTF-8
  29. ar_KW.UTF-8 UTF-8               280. it_CH ISO-8859-1
  30. ar_LB ISO-8859-6                281. it_CH.UTF-8 UTF-8
  31. ar_LB.UTF-8 UTF-8               282. it_IT ISO-8859-1
  32. ar_LY ISO-8859-6                283. it_IT.UTF-8 UTF-8
  33. ar_LY.UTF-8 UTF-8               284. it_IT@euro ISO-8859-15
  34. ar_MA ISO-8859-6                285. iu_CA UTF-8
  35. ar_MA.UTF-8 UTF-8               286. ja_JP.EUC-JP EUC-JP
  36. ar_OM ISO-8859-6                287. ja_JP.UTF-8 UTF-8
  37. ar_OM.UTF-8 UTF-8               288. ka_GE GEORGIAN-PS
  38. ar_QA ISO-8859-6                289. ka_GE.UTF-8 UTF-8
  39. ar_QA.UTF-8 UTF-8               290. kab_DZ UTF-8
  40. ar_SA ISO-8859-6                291. kk_KZ PT154
  41. ar_SA.UTF-8 UTF-8               292. kk_KZ.RK1048 RK1048
  42. ar_SD ISO-8859-6                293. kk_KZ.UTF-8 UTF-8
  43. ar_SD.UTF-8 UTF-8               294. kl_GL ISO-8859-1
  44. ar_SS UTF-8                     295. kl_GL.UTF-8 UTF-8
  45. ar_SY ISO-8859-6                296. km_KH UTF-8
  46. ar_SY.UTF-8 UTF-8               297. kn_IN UTF-8
  47. ar_TN ISO-8859-6                298. ko_KR.EUC-KR EUC-KR
  48. ar_TN.UTF-8 UTF-8               299. ko_KR.UTF-8 UTF-8
  49. ar_YE ISO-8859-6                300. kok_IN UTF-8
  50. ar_YE.UTF-8 UTF-8               301. ks_IN UTF-8
  51. as_IN UTF-8                     302. ks_IN@devanagari UTF-8
  52. ast_ES ISO-8859-15              303. ku_TR ISO-8859-9
  53. ast_ES.UTF-8 UTF-8              304. ku_TR.UTF-8 UTF-8
  54. ayc_PE UTF-8                    305. kw_GB ISO-8859-1
  55. az_AZ UTF-8                     306. kw_GB.UTF-8 UTF-8
  56. az_IR UTF-8                     307. ky_KG UTF-8
  57. be_BY CP1251                    308. lb_LU UTF-8
  58. be_BY.UTF-8 UTF-8               309. lg_UG ISO-8859-10
  59. be_BY@latin UTF-8               310. lg_UG.UTF-8 UTF-8
  60. bem_ZM UTF-8                    311. li_BE UTF-8
  61. ber_DZ UTF-8                    312. li_NL UTF-8
  62. ber_MA UTF-8                    313. lij_IT UTF-8
  63. bg_BG CP1251                    314. ln_CD UTF-8
  64. bg_BG.UTF-8 UTF-8               315. lo_LA UTF-8
  65. bhb_IN.UTF-8 UTF-8              316. lt_LT ISO-8859-13
  66. bho_IN UTF-8                    317. lt_LT.UTF-8 UTF-8
  67. bho_NP UTF-8                    318. lv_LV ISO-8859-13
  68. bi_VU UTF-8                     319. lv_LV.UTF-8 UTF-8
  69. bn_BD UTF-8                     320. lzh_TW UTF-8
  70. bn_IN UTF-8                     321. mag_IN UTF-8
  71. bo_CN UTF-8                     322. mai_IN UTF-8
  72. bo_IN UTF-8                     323. mai_NP UTF-8
  73. br_FR ISO-8859-1                324. mfe_MU UTF-8
  74. br_FR.UTF-8 UTF-8               325. mg_MG ISO-8859-15
  75. br_FR@euro ISO-8859-15          326. mg_MG.UTF-8 UTF-8
  76. brx_IN UTF-8                    327. mhr_RU UTF-8
  77. bs_BA ISO-8859-2                328. mi_NZ ISO-8859-13
  78. bs_BA.UTF-8 UTF-8               329. mi_NZ.UTF-8 UTF-8
  79. byn_ER UTF-8                    330. miq_NI UTF-8
  80. ca_AD ISO-8859-15               331. mjw_IN UTF-8
  81. ca_AD.UTF-8 UTF-8               332. mk_MK ISO-8859-5
  82. ca_ES ISO-8859-1                333. mk_MK.UTF-8 UTF-8
  83. ca_ES.UTF-8 UTF-8               334. ml_IN UTF-8
  84. ca_ES@euro ISO-8859-15          335. mn_MN UTF-8
  85. ca_ES@valencia UTF-8            336. mni_IN UTF-8
  86. ca_FR ISO-8859-15               337. mnw_MM UTF-8
  87. ca_FR.UTF-8 UTF-8               338. mr_IN UTF-8
  88. ca_IT ISO-8859-15               339. ms_MY ISO-8859-1
  89. ca_IT.UTF-8 UTF-8               340. ms_MY.UTF-8 UTF-8
  90. ce_RU UTF-8                     341. mt_MT ISO-8859-3
  91. chr_US UTF-8                    342. mt_MT.UTF-8 UTF-8
  92. ckb_IQ UTF-8                    343. my_MM UTF-8
  93. cmn_TW UTF-8                    344. nan_TW UTF-8
  94. crh_UA UTF-8                    345. nan_TW@latin UTF-8
  95. cs_CZ ISO-8859-2                346. nb_NO ISO-8859-1
  96. cs_CZ.UTF-8 UTF-8               347. nb_NO.UTF-8 UTF-8
  97. csb_PL UTF-8                    348. nds_DE UTF-8
  98. cv_RU UTF-8                     349. nds_NL UTF-8
  99. cy_GB ISO-8859-14               350. ne_NP UTF-8
  100. cy_GB.UTF-8 UTF-8              351. nhn_MX UTF-8
  101. da_DK ISO-8859-1               352. niu_NU UTF-8
  102. da_DK.UTF-8 UTF-8              353. niu_NZ UTF-8
  103. de_AT ISO-8859-1               354. nl_AW UTF-8
  104. de_AT.UTF-8 UTF-8              355. nl_BE ISO-8859-1
  105. de_AT@euro ISO-8859-15         356. nl_BE.UTF-8 UTF-8
  106. de_BE ISO-8859-1               357. nl_BE@euro ISO-8859-15
  107. de_BE.UTF-8 UTF-8              358. nl_NL ISO-8859-1
  108. de_BE@euro ISO-8859-15         359. nl_NL.UTF-8 UTF-8
  109. de_CH ISO-8859-1               360. nl_NL@euro ISO-8859-15
  110. de_CH.UTF-8 UTF-8              361. nn_NO ISO-8859-1
  111. de_DE ISO-8859-1               362. nn_NO.UTF-8 UTF-8
  112. de_DE.UTF-8 UTF-8              363. nr_ZA UTF-8
  113. de_DE@euro ISO-8859-15         364. nso_ZA UTF-8
  114. de_IT ISO-8859-1               365. oc_FR ISO-8859-1
  115. de_IT.UTF-8 UTF-8              366. oc_FR.UTF-8 UTF-8
  116. de_LI.UTF-8 UTF-8              367. om_ET UTF-8
  117. de_LU ISO-8859-1               368. om_KE ISO-8859-1
  118. de_LU.UTF-8 UTF-8              369. om_KE.UTF-8 UTF-8
  119. de_LU@euro ISO-8859-15         370. or_IN UTF-8
  120. doi_IN UTF-8                   371. os_RU UTF-8
  121. dsb_DE UTF-8                   372. pa_IN UTF-8
  122. dv_MV UTF-8                    373. pa_PK UTF-8
  123. dz_BT UTF-8                    374. pap_AW UTF-8
  124. el_CY ISO-8859-7               375. pap_CW UTF-8
  125. el_CY.UTF-8 UTF-8              376. pl_PL ISO-8859-2
  126. el_GR ISO-8859-7               377. pl_PL.UTF-8 UTF-8
  127. el_GR.UTF-8 UTF-8              378. ps_AF UTF-8
  128. el_GR@euro ISO-8859-7          379. pt_BR ISO-8859-1
  129. en_AG UTF-8                    380. pt_BR.UTF-8 UTF-8
  130. en_AU ISO-8859-1               381. pt_PT ISO-8859-1
  131. en_AU.UTF-8 UTF-8              382. pt_PT.UTF-8 UTF-8
  132. en_BW ISO-8859-1               383. pt_PT@euro ISO-8859-15
  133. en_BW.UTF-8 UTF-8              384. quz_PE UTF-8
  134. en_CA ISO-8859-1               385. raj_IN UTF-8
  135. en_CA.UTF-8 UTF-8              386. ro_RO ISO-8859-2
  136. en_DK ISO-8859-1               387. ro_RO.UTF-8 UTF-8
  137. en_DK.ISO-8859-15 ISO-8859-15  388. ru_RU ISO-8859-5
  138. en_DK.UTF-8 UTF-8              389. ru_RU.CP1251 CP1251
  139. en_GB ISO-8859-1               390. ru_RU.KOI8-R KOI8-R
  140. en_GB.ISO-8859-15 ISO-8859-15  391. ru_RU.UTF-8 UTF-8
  141. en_GB.UTF-8 UTF-8              392. ru_UA KOI8-U
  142. en_HK ISO-8859-1               393. ru_UA.UTF-8 UTF-8
  143. en_HK.UTF-8 UTF-8              394. rw_RW UTF-8
  144. en_IE ISO-8859-1               395. sa_IN UTF-8
  145. en_IE.UTF-8 UTF-8              396. sah_RU UTF-8
  146. en_IE@euro ISO-8859-15         397. sat_IN UTF-8
  147. en_IL UTF-8                    398. sc_IT UTF-8
  148. en_IN UTF-8                    399. sd_IN UTF-8
  149. en_NG UTF-8                    400. sd_IN@devanagari UTF-8
  150. en_NZ ISO-8859-1               401. sd_PK UTF-8
  151. en_NZ.UTF-8 UTF-8              402. se_NO UTF-8
  152. en_PH ISO-8859-1               403. sgs_LT UTF-8
  153. en_PH.UTF-8 UTF-8              404. shn_MM UTF-8
  154. en_SC.UTF-8 UTF-8              405. shs_CA UTF-8
  155. en_SG ISO-8859-1               406. si_LK UTF-8
  156. en_SG.UTF-8 UTF-8              407. sid_ET UTF-8
  157. en_US ISO-8859-1               408. sk_SK ISO-8859-2
  158. en_US.ISO-8859-15 ISO-8859-15  409. sk_SK.UTF-8 UTF-8
  159. en_US.UTF-8 UTF-8              410. sl_SI ISO-8859-2
  160. en_ZA ISO-8859-1               411. sl_SI.UTF-8 UTF-8
  161. en_ZA.UTF-8 UTF-8              412. sm_WS UTF-8
  162. en_ZM UTF-8                    413. so_DJ ISO-8859-1
  163. en_ZW ISO-8859-1               414. so_DJ.UTF-8 UTF-8
  164. en_ZW.UTF-8 UTF-8              415. so_ET UTF-8
  165. eo UTF-8                       416. so_KE ISO-8859-1
  166. eo_US.UTF-8 UTF-8              417. so_KE.UTF-8 UTF-8
  167. es_AR ISO-8859-1               418. so_SO ISO-8859-1
  168. es_AR.UTF-8 UTF-8              419. so_SO.UTF-8 UTF-8
  169. es_BO ISO-8859-1               420. sq_AL ISO-8859-1
  170. es_BO.UTF-8 UTF-8              421. sq_AL.UTF-8 UTF-8
  171. es_CL ISO-8859-1               422. sq_MK UTF-8
  172. es_CL.UTF-8 UTF-8              423. sr_ME UTF-8
  173. es_CO ISO-8859-1               424. sr_RS UTF-8
  174. es_CO.UTF-8 UTF-8              425. sr_RS@latin UTF-8
  175. es_CR ISO-8859-1               426. ss_ZA UTF-8
  176. es_CR.UTF-8 UTF-8              427. st_ZA ISO-8859-1
  177. es_CU UTF-8                    428. st_ZA.UTF-8 UTF-8
  178. es_DO ISO-8859-1               429. sv_FI ISO-8859-1
  179. es_DO.UTF-8 UTF-8              430. sv_FI.UTF-8 UTF-8
  180. es_EC ISO-8859-1               431. sv_FI@euro ISO-8859-15
  181. es_EC.UTF-8 UTF-8              432. sv_SE ISO-8859-1
  182. es_ES ISO-8859-1               433. sv_SE.ISO-8859-15 ISO-8859-15
  183. es_ES.UTF-8 UTF-8              434. sv_SE.UTF-8 UTF-8
  184. es_ES@euro ISO-8859-15         435. sw_KE UTF-8
  185. es_GT ISO-8859-1               436. sw_TZ UTF-8
  186. es_GT.UTF-8 UTF-8              437. szl_PL UTF-8
  187. es_HN ISO-8859-1               438. ta_IN UTF-8
  188. es_HN.UTF-8 UTF-8              439. ta_LK UTF-8
  189. es_MX ISO-8859-1               440. tcy_IN.UTF-8 UTF-8
  190. es_MX.UTF-8 UTF-8              441. te_IN UTF-8
  191. es_NI ISO-8859-1               442. tg_TJ KOI8-T
  192. es_NI.UTF-8 UTF-8              443. tg_TJ.UTF-8 UTF-8
  193. es_PA ISO-8859-1               444. th_TH TIS-620
  194. es_PA.UTF-8 UTF-8              445. th_TH.UTF-8 UTF-8
  195. es_PE ISO-8859-1               446. the_NP UTF-8
  196. es_PE.UTF-8 UTF-8              447. ti_ER UTF-8
  197. es_PR ISO-8859-1               448. ti_ET UTF-8
  198. es_PR.UTF-8 UTF-8              449. tig_ER UTF-8
  199. es_PY ISO-8859-1               450. tk_TM UTF-8
  200. es_PY.UTF-8 UTF-8              451. tl_PH ISO-8859-1
  201. es_SV ISO-8859-1               452. tl_PH.UTF-8 UTF-8
  202. es_SV.UTF-8 UTF-8              453. tn_ZA UTF-8
  203. es_US ISO-8859-1               454. to_TO UTF-8
  204. es_US.UTF-8 UTF-8              455. tpi_PG UTF-8
  205. es_UY ISO-8859-1               456. tr_CY ISO-8859-9
  206. es_UY.UTF-8 UTF-8              457. tr_CY.UTF-8 UTF-8
  207. es_VE ISO-8859-1               458. tr_TR ISO-8859-9
  208. es_VE.UTF-8 UTF-8              459. tr_TR.UTF-8 UTF-8
  209. et_EE ISO-8859-1               460. ts_ZA UTF-8
  210. et_EE.ISO-8859-15 ISO-8859-15  461. tt_RU UTF-8
  211. et_EE.UTF-8 UTF-8              462. tt_RU@iqtelif UTF-8
  212. eu_ES ISO-8859-1               463. ug_CN UTF-8
  213. eu_ES.UTF-8 UTF-8              464. ug_CN@latin UTF-8
  214. eu_ES@euro ISO-8859-15         465. uk_UA KOI8-U
  215. eu_FR ISO-8859-1               466. uk_UA.UTF-8 UTF-8
  216. eu_FR.UTF-8 UTF-8              467. unm_US UTF-8
  217. eu_FR@euro ISO-8859-15         468. ur_IN UTF-8
  218. fa_IR UTF-8                    469. ur_PK UTF-8
  219. ff_SN UTF-8                    470. uz_UZ ISO-8859-1
  220. fi_FI ISO-8859-1               471. uz_UZ.UTF-8 UTF-8
  221. fi_FI.UTF-8 UTF-8              472. uz_UZ@cyrillic UTF-8
  222. fi_FI@euro ISO-8859-15         473. ve_ZA UTF-8
  223. fil_PH UTF-8                   474. vi_VN UTF-8
  224. fo_FO ISO-8859-1               475. wa_BE ISO-8859-1
  225. fo_FO.UTF-8 UTF-8              476. wa_BE.UTF-8 UTF-8
  226. fr_BE ISO-8859-1               477. wa_BE@euro ISO-8859-15
  227. fr_BE.UTF-8 UTF-8              478. wae_CH UTF-8
  228. fr_BE@euro ISO-8859-15         479. wal_ET UTF-8
  229. fr_CA ISO-8859-1               480. wo_SN UTF-8
  230. fr_CA.UTF-8 UTF-8              481. xh_ZA ISO-8859-1
  231. fr_CH ISO-8859-1               482. xh_ZA.UTF-8 UTF-8
  232. fr_CH.UTF-8 UTF-8              483. yi_US CP1255
  233. fr_FR ISO-8859-1               484. yi_US.UTF-8 UTF-8
  234. fr_FR.UTF-8 UTF-8              485. yo_NG UTF-8
  235. fr_FR@euro ISO-8859-15         486. yue_HK UTF-8
  236. fr_LU ISO-8859-1               487. yuw_PG UTF-8
  237. fr_LU.UTF-8 UTF-8              488. zh_CN GB2312
  238. fr_LU@euro ISO-8859-15         489. zh_CN.GB18030 GB18030
  239. fur_IT UTF-8                   490. zh_CN.GBK GBK
  240. fy_DE UTF-8                    491. zh_CN.UTF-8 UTF-8
  241. fy_NL UTF-8                    492. zh_HK BIG5-HKSCS
  242. ga_IE ISO-8859-1               493. zh_HK.UTF-8 UTF-8
  243. ga_IE.UTF-8 UTF-8              494. zh_SG GB2312
  244. ga_IE@euro ISO-8859-15         495. zh_SG.GBK GBK
  245. gd_GB ISO-8859-15              496. zh_SG.UTF-8 UTF-8
  246. gd_GB.UTF-8 UTF-8              497. zh_TW BIG5
  247. gez_ER UTF-8                   498. zh_TW.EUC-TW EUC-TW
  248. gez_ER@abegede UTF-8           499. zh_TW.UTF-8 UTF-8
  249. gez_ET UTF-8                   500. zu_ZA ISO-8859-1
  250. gez_ET@abegede UTF-8           501. zu_ZA.UTF-8 UTF-8
  251. gl_ES ISO-8859-1

(Enter the items you want to select, separated by spaces.)

Locales to be generated:

Generating locales (this might take a while)...
Generation complete.
*** update-locale: Error: invalid locale settings:  LANG=en_US.UTF-8
/bin/bash: warning: setlocale: LC_ALL: cannot change locale (pt_BR.UTF-8): No such file or directory
/bin/bash: warning: setlocale: LC_CTYPE: cannot change locale (pt_BR.UTF-8): No such file or directory
perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
	LANGUAGE = (unset),
	LC_ALL = (unset),
	LANG = "en_US.UTF-8"
    are supported and installed on your system.
perl: warning: Falling back to the standard locale ("C").
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
Configuring locales
-------------------

Locales are a framework to switch between multiple languages and allow users to
use their language, country, characters, collation order, etc.

Please choose which locales to generate. UTF-8 locales should be chosen by
default, particularly for new installations. Other character sets may be useful
for backwards compatibility with older systems and software.

  1. All locales                      252. gl_ES.UTF-8 UTF-8
  2. aa_DJ ISO-8859-1                 253. gl_ES@euro ISO-8859-15
  3. aa_DJ.UTF-8 UTF-8                254. gu_IN UTF-8
  4. aa_ER UTF-8                      255. gv_GB ISO-8859-1
  5. aa_ER@saaho UTF-8                256. gv_GB.UTF-8 UTF-8
  6. aa_ET UTF-8                      257. ha_NG UTF-8
  7. af_ZA ISO-8859-1                 258. hak_TW UTF-8
  8. af_ZA.UTF-8 UTF-8                259. he_IL ISO-8859-8
  9. agr_PE UTF-8                     260. he_IL.UTF-8 UTF-8
  10. ak_GH UTF-8                     261. hi_IN UTF-8
  11. am_ET UTF-8                     262. hif_FJ UTF-8
  12. an_ES ISO-8859-15               263. hne_IN UTF-8
  13. an_ES.UTF-8 UTF-8               264. hr_HR ISO-8859-2
  14. anp_IN UTF-8                    265. hr_HR.UTF-8 UTF-8
  15. ar_AE ISO-8859-6                266. hsb_DE ISO-8859-2
  16. ar_AE.UTF-8 UTF-8               267. hsb_DE.UTF-8 UTF-8
  17. ar_BH ISO-8859-6                268. ht_HT UTF-8
  18. ar_BH.UTF-8 UTF-8               269. hu_HU ISO-8859-2
  19. ar_DZ ISO-8859-6                270. hu_HU.UTF-8 UTF-8
  20. ar_DZ.UTF-8 UTF-8               271. hy_AM UTF-8
  21. ar_EG ISO-8859-6                272. hy_AM.ARMSCII-8 ARMSCII-8
  22. ar_EG.UTF-8 UTF-8               273. ia_FR UTF-8
  23. ar_IN UTF-8                     274. id_ID ISO-8859-1
  24. ar_IQ ISO-8859-6                275. id_ID.UTF-8 UTF-8
  25. ar_IQ.UTF-8 UTF-8               276. ig_NG UTF-8
  26. ar_JO ISO-8859-6                277. ik_CA UTF-8
  27. ar_JO.UTF-8 UTF-8               278. is_IS ISO-8859-1
  28. ar_KW ISO-8859-6                279. is_IS.UTF-8 UTF-8
  29. ar_KW.UTF-8 UTF-8               280. it_CH ISO-8859-1
  30. ar_LB ISO-8859-6                281. it_CH.UTF-8 UTF-8
  31. ar_LB.UTF-8 UTF-8               282. it_IT ISO-8859-1
  32. ar_LY ISO-8859-6                283. it_IT.UTF-8 UTF-8
  33. ar_LY.UTF-8 UTF-8               284. it_IT@euro ISO-8859-15
  34. ar_MA ISO-8859-6                285. iu_CA UTF-8
  35. ar_MA.UTF-8 UTF-8               286. ja_JP.EUC-JP EUC-JP
  36. ar_OM ISO-8859-6                287. ja_JP.UTF-8 UTF-8
  37. ar_OM.UTF-8 UTF-8               288. ka_GE GEORGIAN-PS
  38. ar_QA ISO-8859-6                289. ka_GE.UTF-8 UTF-8
  39. ar_QA.UTF-8 UTF-8               290. kab_DZ UTF-8
  40. ar_SA ISO-8859-6                291. kk_KZ PT154
  41. ar_SA.UTF-8 UTF-8               292. kk_KZ.RK1048 RK1048
  42. ar_SD ISO-8859-6                293. kk_KZ.UTF-8 UTF-8
  43. ar_SD.UTF-8 UTF-8               294. kl_GL ISO-8859-1
  44. ar_SS UTF-8                     295. kl_GL.UTF-8 UTF-8
  45. ar_SY ISO-8859-6                296. km_KH UTF-8
  46. ar_SY.UTF-8 UTF-8               297. kn_IN UTF-8
  47. ar_TN ISO-8859-6                298. ko_KR.EUC-KR EUC-KR
  48. ar_TN.UTF-8 UTF-8               299. ko_KR.UTF-8 UTF-8
  49. ar_YE ISO-8859-6                300. kok_IN UTF-8

'en_US.UTF-8'

In [13]:
bairros = [f.split("District_")[1] for f in df_clean.columns if "District_" in f]

In [14]:
dump(sorted(bairros, key=locale.strxfrm), 'bairros.joblib')

['bairros.joblib']

In [15]:
features

array(['Condo', 'Size', 'Rooms', 'Toilets', 'Suites', 'Parking',
       'Elevator', 'Furnished', 'Swimming Pool', 'New', 'Latitude',
       'Longitude', 'District_Alto de Pinheiros', 'District_Anhanguera',
       'District_Aricanduva', 'District_Artur Alvim',
       'District_Barra Funda', 'District_Bela Vista', 'District_Belém',
       'District_Bom Retiro', 'District_Brasilândia', 'District_Brooklin',
       'District_Brás', 'District_Butantã', 'District_Cachoeirinha',
       'District_Cambuci', 'District_Campo Belo', 'District_Campo Grande',
       'District_Campo Limpo', 'District_Cangaíba',
       'District_Capão Redondo', 'District_Carrão', 'District_Casa Verde',
       'District_Cidade Ademar', 'District_Cidade Dutra',
       'District_Cidade Líder', 'District_Cidade Tiradentes',
       'District_Consolação', 'District_Cursino',
       'District_Ermelino Matarazzo', 'District_Freguesia do Ó',
       'District_Grajaú', 'District_Guaianazes', 'District_Iguatemi',
       'District_Ipiranga', 'District_Itaim Bibi',
       'District_Itaim Paulista', 'District_Itaquera',
       'District_Jabaquara', 'District_Jaguaré', 'District_Jaraguá',
       'District_Jardim Helena', 'District_Jardim Paulista',
       'District_Jardim São Luis', 'District_Jardim Ângela',
       'District_Jaçanã', 'District_José Bonifácio', 'District_Lajeado',
       'District_Lapa', 'District_Liberdade', 'District_Limão',
       'District_Mandaqui', 'District_Medeiros', 'District_Moema',
       'District_Mooca', 'District_Morumbi', 'District_Pari',
       'District_Parque do Carmo', 'District_Pedreira', 'District_Penha',
       'District_Perdizes', 'District_Perus', 'District_Pinheiros',
       'District_Pirituba', 'District_Ponte Rasa',
       'District_Raposo Tavares', 'District_República',
       'District_Rio Pequeno', 'District_Sacomã',
       'District_Santa Cecília', 'District_Santana',
       'District_Santo Amaro', 'District_Sapopemba', 'District_Saúde',
       'District_Socorro', 'District_São Domingos', 'District_São Lucas',
       'District_São Mateus', 'District_São Miguel',
       'District_São Rafael', 'District_Sé', 'District_Tatuapé',
       'District_Tremembé', 'District_Tucuruvi', 'District_Vila Andrade',
       'District_Vila Curuçá', 'District_Vila Formosa',
       'District_Vila Guilherme', 'District_Vila Jacuí',
       'District_Vila Leopoldina', 'District_Vila Madalena',
       'District_Vila Maria', 'District_Vila Mariana',
       'District_Vila Matilde', 'District_Vila Olimpia',
       'District_Vila Prudente', 'District_Vila Sônia',
       'District_Água Rasa', 'Negotiation Type_rent',
       'Negotiation Type_sale', 'Property Type_apartment'], dtype=object)